image: python:latest

stages:         # List of stages for jobs, and their order of execution
  - build
  - test

build:
  stage: build
  script:
    - python3 -m pip install pyinstaller pyyaml   # Install make (not sure if needed)
    - /usr/local/bin/pyinstaller --noconfirm --onefile --console --name "bpkg"  "bpkg"
    - mv ./dist/bpkg ./      
  artifacts:
    paths:
      - bpkg                             # Upload the binary!

sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml    # Code security scanning
- template: Security/Secret-Detection.gitlab-ci.yml     # Secret detection

