image: gcc

stages:         # List of stages for jobs, and their order of execution
  - build
  - test

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  # before_script:
  #  
  script:
    - apt update && apt -y install make autoconf
    - make              # No need for make for now
  artifacts:
    paths:
      - bpkg                             # Upload the binary!

sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml

