image: gcc

stages:         # List of stages for jobs, and their order of execution
  - build
  - test

build:
  stage: build
  script:
    - apt update && apt -y install make autoconf   # Install make (not sure if needed)
    - make      # Runs make compile (default target)       
  artifacts:
    paths:
      - bpkg                             # Upload the binary!

sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml    # Code security scanning
- template: Security/Secret-Detection.gitlab-ci.yml     # Secret detection

