image: gcc

stages:         # List of stages for jobs, and their order of execution
  - build

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  # before_script:
  #   - apt update && apt -y install make autoconf
  script:
    - g++ -o bpkg src/*.cpp              # No need for make for now
  artifacts:
    paths:
      - bpkg                             # Upload the binary!


